body {
  background-color: #efefef;
}
.wrap {
  max-width: 1141px;
  width: 89%;
  margin: 0 auto;
}
.clear {
  overflow: hidden;
}
.block {
  background-color: #fff;
  margin: 65px auto 0;
  padding-top: 1px;
  padding-bottom: 90px;
}
.block > .title {
  font-family: PragmaticaCondC;
  color: #000000;
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin-top: 6px;
  height: 60px;
}
.block > .title .hr {
  display: inline-block;
  border-top: 1px solid #000000;
  width: 97%;
}
.block > .title .text {
  position: relative;
  display: inline-block;
  top: -33px;
  background-color: #fff;
  padding: 0 10px;
}
.block .slider {
  width: 90%;
  margin: 0 auto;
}
.block .slider .item {
  width: 14%;
  margin-left: 2.9%;
  display: inline-block;
  text-align: center;
}
.block .slider .item:nth-child(1) {
  margin-left: 0;
}
.item .image {
  width: 100%;
  overflow: hidden;
  height: 235px;
}
.item .image img {
  height: auto;
}
.item .title {
  font-family: 'PragmaticaCondC';
  color: #000000;
  font-size: 18px;
}
.item .price {
  font-family: PragmaticaC;
  color: #993399;
  font-size: 18px;
  /* Approximation due to font substitution */
  font-weight: 700;
}
.seeMore {
  margin-top: 14px;
  width: 100%;
  text-align: center;
  background-color: #fff;
}
.seeMore a {
  text-decoration: none;
  display: inline-block;
  padding: 10px 0px 10px 21px;
  background: url("../images/see_all.png") no-repeat left center;
  font-family: 'Source Sans Pro';
  color: #333333;
  font-size: 14px;
}
.bread {
  font-family: 'PragmaticaCondC', arial;
  color: #993399;
  padding: 15px 0 0 15px;
  margin-bottom: 18px;
}
.bread ul {
  font-size: 14px;
}
.bread ul li {
  display: inline-block;
  padding: 0 1px;
}
.bread ul li a {
  color: #993399;
  text-decoration: underline;
}
.bread ul li.last {
  color: #000000;
}
a.simpleLink {
  color: #993399;
  font-family: 'PragmaticaCondC', arial;
  font-size: 14px;
}
.notify {
  background: #ffffc6;
  text-align: center;
  border: 1px solid #c8c8c8;
  padding: 17px 0 10px;
  margin-bottom: 31px;
}
.notify.error .title {
  color: #ff0000;
  font-size: 1.8em;
  text-transform: uppercase;
}
.notify.error .subtitle {
  color: #666666;
  font-size: 1.8em;
}
.notify.success .title {
  color: #19c028;
  font-size: 1.8em;
  text-transform: uppercase;
}
.notify.success .subtitle {
  color: #666666;
  font-size: 1.8em;
}
