.indexMenu {
  height: 95px;
  border: 1px solid #cccccc;
  background: -webkit-linear-gradient(90deg, #efefef 0%, #ffffff 100%);
  background: -moz-linear-gradient(90deg, #efefef 0%, #ffffff 100%);
  background: -o-linear-gradient(90deg, #efefef 0%, #ffffff 100%);
  background: -ms-linear-gradient(90deg, #efefef 0%, #ffffff 100%);
  background: linear-gradient(0deg, #efefef 0%, #ffffff 100%);
  width: 100%;
  margin-top: 1%;
}
.indexMenu ul {
  margin-top: 17px;
  text-align: center;
}
.indexMenu ul li {
  display: inline-block;
  text-align: center;
  padding: 0 4%;
}
.indexMenu ul li .imgForItem {
  border: 2px solid #993399;
  border-radius: 50%;
  width: 43px;
  height: 43px;
  display: block;
  text-align: center;
  margin: 0 auto 6px;
  line-height: 41px;
}
.indexMenu ul li a {
  font-family: PragmaticaCondC;
  color: #663333;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}
